<title>Library</title>

<h1>Library</h1>

<a href="/sales/new">Add a car for sale</a>
<br/>
<a href="/sales_logged_in">Home</a>
<br/>

{% for sale in sales %}
{% for key, value in images.items() %}
    {% if key == sale.file_path %}
    <div>
        <a href="/sales/{{ sale.id }}">
            <img src="{{ key }}{{ value }}" width="400" height="200">
        </a>
    </div>
    {% endif %}
{% endfor %}
    <a href="/sales/{{ sale.id }}"><b>Name:</b> {{ sale.name }} | Model: {{ sale.model }}</a>
{% endfor %}