<title>Sale</title>
<a href="/">Home</a>

<h1>{{ sale.name }}</h1>
<h2>{{ sale. model }}</h2>

<hr>

<p>Car price: {{ sale.price }}</p>
<p>Kilometers driven: {{ sale.mileage }}</p>
<p>Car horsepower: {{ sale.horsepower }}</p>
<p>Year of production: {{ sale.year }}</p>
<p>Condition of the car: {{ sale.condition }}</p>
<p>Posted by : {{ sale.username }}</p>

{% for img in images %}
    <div>
        <img src="{{ sale.file_path }}{{ img }}" width="400" height="200">
    </div>
{% endfor %}
{% if sale.user_id == username %}
    <a href="/sales/{{ sale.id }}/edit">Edit sale</a><br/><br/>
    <form action="/sales/{{ sale.id }}/delete" method="post">
        <button type="submit">Delete sale</button>
    </form>
{% endif %}
<br/>
<form action="/comments/new" method="post">
    <input type="text" name="message">
    <input type="hidden" name="sale_id" value="{{ sale.id }}">
    <button type="submit">Create comment</button>
</form>
<div id="comments">
{% for comment in sale.comments() %}
    {{ comment.message }}
    {% if comment.user_id == username %}
        <form action="/comments/{{ comment.id }}/delete" method="post">
            <input type="hidden" name="sale_id" value="{{ sale.id }}">
            <button type="submit">Delete comment</button>
        </form>
    {% endif %}
    <br/>
    <br/>
{% endfor %}
</div>