<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sales</title>
</head>
<body>
    <h1>Sales</h1>

    <a href="/sales/new">Add a car for sale</a>
    <br/>
    <br/>
    <a href="/sales/user_sales">My sales</a>
    <br/>
    <form action="/sales/search" method="POST">
        <input type="search" name="keyword" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
    <br/>
    <a href="/categories">Search by category</a>
    <form action="/log_out" method="POST">
        <input type="submit" value="log out">
    </form>
    <br/>

    {% for sale in sales %}
    {% for key, value in images.items() %}
        {% if key == sale.file_path %}
        <div>
            <a href="/sales/{{ sale.id }}">
                <img src="{{ key }}{{ value }}" width="400" height="200">
            </a>
        </div>
        {% endif %}
    {% endfor %}
        <a href="/sales/{{ sale.id }}"><b>Name:</b> {{ sale.name }} | Model: {{ sale.model }}</a>
    {% endfor %}
    <br/>
    <br/>
    <br/>
    <p>Logged in as: <a href="/user_info">{{ username }}</a></p>
    <br/>
</body>
</html>
