<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sales.css') }}">
    <title>Results</title>
</head>
<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a style="color: blue;" href="/user_info">{{ username }}</a>
    </div> 

    <div class="sales">
        {% for sale in sales %}
            {% for key, value in images.items() %}
                {% if key == sale.file_path %}
                <div class="sale-image">
                    <a href="/sales/{{ sale.id }}">
                        <img src="{{ key }}{{ value }}" width="400" height="200">
                    </a>
                    {% endif %}
                    {% endfor %}
                    <a href="/sales/{{ sale.id }}"><b>Name:</b> {{ sale.name }} | Model: {{ sale.model }}</a>
                </div>
            {% endfor %}
    </div>
</body>
</html>
